// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333;
//   }
  
//   li {
//     float: left;
//   }
  
//   li a {
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 14px 111px;
//     text-decoration: none;
//   }
  
//   /* Change the link color to #111 (black) on hover */
//   li a:hover {
//     background-color: #111;
//   }

//   // .active{
//   //   background-color: #111;
//   // }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

//   @media screen and (max-width: 900px) {
//     ul {
//       width: 100%;
//       height: auto;
//       position: relative;
//     }
    
//     ul li a {
//       float: left;
//       padding: 15px;
//     }
    
//     div.content {margin-left: 0;}
//   }
  
//   @media screen and (max-width: 400px) {
//     ul li a {
//       text-align: center;
//       float: none;
//     }
//   }

.full-width{
  width: 100% !important;
}  
.nav-links{
  padding-left: 5.5rem !important;
  padding-right: 5.5rem !important;
}