

/* section{
} */

/* .containers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,100%);
}

.container > section{
    margin-top: 110px;
    height: 100%; */
/* } */


.App{
    height: 100%;
    /* display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,100%); */
}

.home{
    margin-top: 0 !important;
    background-color: #2f4858 !important;
    color: #fff;
    margin-bottom: 0 !important;
    height:680px;
}

.text-center{
    size: 20px;
    text-align: center;
    margin: auto;
    padding-top: 300px;
}

h1{
    /* text-align: center; */
  margin: 0 auto;  
}

.bg-blue{
    background-color: #00bcd4 !important;
}

.bg-green{
    background-color: #009688 !important;
}

.bg-sea{
    background-color: #1E88E5;
}

.bg-purple{
    margin-top: 0 !important;
    background-color: #aed9e0;
    height:680px;
    color: #fff;
    margin-bottom: 0 !important;
}

.bg-orange{
    background-color: #5e6472;
    height:680px;
    margin-top: 0 !important;
    color: #fff;
}